body {
	background-image: url('../images/wallpaper.jpg');
	font-family: 'Ribeye', cursive;

}

#header {
	text-align: center;
	color: #95cc79;
	font-size: 30px;
	background-color: white;
	height: 70px;
	width: 300px;
	margin: 0 auto;
	line-height: 70px;
	border-radius: 40px;	
}

.tag {
	color: white;
	font-size: 18px;
	text-align: center;
	background-color: #95cc79;
	margin-top: 5px;
	height: 50px;
	width: 270px;
	line-height: 50px;
	border-radius: 30px;
	margin: 0 auto;
}
		
.row {
	height: 101px; 
	width: 306px; 
	background-color: white	; 
	margin-top: 5px;
	clear: both;
	border-color: lime;
	margin: 0 auto;
}

.cell {
	height: 100px;
	width: 100px;
	border: 1px solid #95cc79;
	float: left;
	text-align: center;
}
#reset {

}
		
