<!DOCTYPE html>
<html>
<head>
	<title>Charlie and Lola | TicTacToe</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
	<script type="text/javascript" src="javascript.js"></script>
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
	<link href='http://fonts.googleapis.com/css?family=Ribeye' rel='stylesheet' type='text/css'>	
</head>
<body id="main">
	<div id="header">Charlie and Lola</div>
	<div id="" class="board" x-ng-app="" x-ng-init="cells=['','','','','','','','','']; mark = {val:true};">
		<div x-ng-repeat="c in cells track by $index" 
			id="{{$index}}"
			x-ng-class="{cell:true, clear:$index == 3 || $index == 6}" 
			x-ng-click="cells[$index] = (cells[$index] == '' ? ((mark.val = !mark.val) ? 'X' : 'O'	) : cells[$index]);">
			{{c}}
		</div>
	</div>

</body>
</html>