<!DOCTYPE html>
<html>
<head>
	<title>Charlie and Lola | TicTacToe</title>
	<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
	<script type="text/javascript" src="scripts/script.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Ribeye' rel='stylesheet' type='text/css'>	
</head>
<body x-ng-app="" x-ng-controller="mainCtrl">
	<h2>Current Player: {{currentPlayer}}</h2>
	<div x-ng-repeat="row in gameBoard track by $index">
		<div x-ng-repeat="cell in gameBoard track by $index" x-ng-click=""playerTurn($parent.$index, $index)>
			{{cell}}
		</div>
	</div>

</body>
</html>