#main {
	background-image: url('images/wallpaper.jpg');

}

#header {
	text-align: center;
	color: #95cc79;
	font-family: 'Ribeye', cursive;
	font-size: 30px;
	background-color: white;
	height: 70px;
	width: 300px;
	margin: 0 auto;
	line-height: 70px;
	border-radius: 40px;	
}

.board {
	margin: 0 auto;
}
		
.cell {
	float:left; 
	height: 100px; 
	width: 100px; 
	background-color: white; 
	margin: 3px;
}
		
.clear {
	clear:both;
}