<html>
	<head x-ng-app="">
		<title>Charlie and Lola | Tic Tac Toe</title>
		<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
		<link href='http://fonts.googleapis.com/css?family=Ribeye' rel='stylesheet' type='text/css'>	
	</head>
	<body onload="init()">
	<div id="header">
		<h4>Charlie and Lola</h4>
	</div>
	<div id="main">
		<div id ="board" class="move">
			<div class="row">
				<div x-ng-click=""></div>
				<div x-ng-click=""></div>
				<div x-ng-click=""></div>
			</div>
			<div class="row">
				<div x-ng-click=""></div>
				<div x-ng-click=""></div>
				<div x-ng-click=""></div>
			</div>
			<div class="row">
				<div x-ng-click=""></div>
				<div x-ng-click=""></div>
				<div x-ng-click=""></div>
			</div>
		</div>
	</div>
 </body>
<!--  	// <script type="text/javascript" src="javascript/script.js"></script> -->
 	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>

</html>