<!DOCTYPE html>
<html x-ng-app="">
	<head>
		<title>Charlie and Lola | TicTacToe</title>
		<link rel="stylesheet" type="text/css" href="main.css">
		<script type="text/javascript" src="script.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
		<meta charset="UTF-8">
	</head>
	<body>
		<div x-ng-controller="boardCtrl">
			<div x-ng-repeat="box in boxes track by $index" x-ng-class="{cell:true, clear: $index % 3 == 0}" x-ng-click="takeTurn($index)">
				<img src="{{box}}" />
			</div>
			<div class="message"><h1>{{winner}}</h1></div>
			<input type="button" x-ng-click="resetBoard()" value="Reset" />
		</div>
	</body>
</html>

